<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<ul>
  <li>
    <%= link_to "<< Back To Articles List", articles_path %>
  </li>
  <li>
    <%= link_to "Delete Article", article_path(@article), method: :delete, data: { confirm: "Really delete this article?" } %>
  </li>
  <li>
    <%= link_to "Edit Article", edit_article_path(@article) %>
  </li>
</ul>

<%= # Extract each article from @article.comments and give to articles/comments
    render partial: 'articles/comment', collection: @article.comments %>
<%= # Display a form for a new comment
    render partial: 'comments/form' %>